.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 600;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid slategray;
  border-radius: 2px;
  cursor: pointer;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li:hover,
.pagination li:focus {
  background-color: #817797;
  color: #fff;
}

.pagination a {
  color: #f68685;
  text-decoration: none;
  padding: 5px 10px;
  font-size: large;
}

.pagination li:hover a {
  color: #fff;
}

.pagination .active {
  background-color: #4a1a98;
  color: #fff;
  /* border-color: slategray; */
}

.pagination .break {
  margin-right: 5px;
  font-size: 14px;
}

.pagination .previous a:before {
  content: '< previous';
}

.pagination .next a:after {
  content: 'next >';
}

.pagination .disabled a,
.pagination .disabled {
  color: #fff;
  pointer-events: none;
  /* background-color: #40451a; */
  border-color: #ddd;
}

.pagination .break a {
  cursor: default;
  color: #fff;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .pagination li {
    padding: 8px 8px;
    font-size: 12px;
  }

  .pagination .previous a:before,
  .pagination .next a:after {
    font-size: 12px;
  }

  .pagination .break {
    margin-right: 3px;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .pagination li {
    padding: 5px 5px;
    font-size: 10px;
  }

  .pagination .previous a:before,
  .pagination .next a:after {
    font-size: 10px;
  }

  .pagination .break {
    margin-right: 1px;
    font-size: 10px;
  }
}
