.table{
  height: 100vh;
}

.tableCont {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.tableCont::-webkit-scrollbar {

  display: none;
}

