#slider {
  width: 100%;
  padding: 20px 50px 20px 0px;
  z-index: -1;
}
.carousel {
  width: 100%;
  border-radius: 5px;
}
/** .slider {
  width: 200px;
  /* padding: 10px; */
/* background: #23075e; */
