
.calender{
    background: #23075E;
    border-radius: 5px;
    padding: 10px 20px;
    width: 48%;
}
.heroImg{
    /* width: 480px;
    height: 320px; */
    /* background: #23075E; */
    /* border-radius: 5px; */
} 